custom.el
.last-package-update-day
configuration.el
elpa.bak
smex-items
recentf
eshell
.*~
*~
*.elc
framegeometry
.#*
\#*
auto-save-list
elpa
url
/ac-comphist.dat
/bookmarks
history
/.org-id-locations
/abbrev_defs
/transient
.emacs.desktop*
.lsp-session*
/places
tramp
/image-dired/
/games/
/.mc-lists.el
/srecode-map.el
/eln-cache/
/tree-sitter/
/.pi-subagents/
